.d-flex {
    display: flex;
  }
  
  .flex-row {
    flex-direction: row;
  }
  
  .flex-row-reverse {
    flex-direction: row-reverse;
  }
  
  .flex-column {
    flex-direction: column;
  }
  
  .flex-column-reverse {
    flex-direction: column-reverse;
  }
  
  .justify-content-start {
    justify-content: flex-start;
  }
  
  .justify-content-end {
    justify-content: flex-end;
  }
  
  .justify-content-center {
    justify-content: center;
  }
  
  .justify-content-between {
    justify-content: space-between;
  }
  
  .justify-content-around {
    justify-content: space-around;
  }
  
  .align-items-start {
    align-items: flex-start;
  }
  
  .align-items-end {
    align-items: flex-end;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  .align-items-baseline {
    align-items: baseline;
  }
  
  .align-items-stretch {
    align-items: stretch;
  }
  .flex-wrap-wrap {
    flex-wrap: wrap;
  }
  .line-through {
    text-decoration: line-through;
  }
  .hide-component {
    display: none;
  }
  .w-100 {
    width: 100%;
  }
  .h-100 {
    height: 100%;
  }
  .margin-top-0-5rem {
    margin-top: 0.5rem;
  }
  .margin-top-1rem {
    margin-top: 1rem;
  }
  .margin-top-1-5rem {
    margin-top: 1.5rem;
  }
  .margin-top-2rem {
    margin-top: 2rem;
  }
  .margin-top-2-5rem {
    margin-top: 2.5rem;
  }
  .margin-top-3rem {
    margin-top: 3rem;
  }
  .gap-5px {
    gap: 5px;
  }
  .gap-10px {
    gap: 10px;
  }
  .gap-15px {
    gap: 15px;
  }
  .gap-20px {
    gap: 20px;
  }
 