@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900;1000&display=swap');

:root {
   --primary-bg: rgb(95,88,147);
   --primary-bg-gradient: radial-gradient(circle, rgba(95,88,147,1) 15%, rgba(58,51,114,1) 49%);
   --modal-bg: linear-gradient(188.24deg, #2A2A2E 15.5%, #1F1338 55.67%, #000000 114.26%);
   --white: #FFFFFF;
   --transperent: rgba(255, 255, 255, 0);
   --save-btn: #05FF00;
   --btn-dark: #272430;
   --btn-blue:#3C1F7B;
   --inputs: #CCC2FE;
   --input-text: #4F4F4F;
   --main-calendar: #7E64FF;
   --inactive: #7E7E7E;
   --hover-calendar: #aaa;
   --pick-green: #88d477;
   --pick-pink:  #ff99c0;
   --pick-red:  #ff8080;
   --pick-orange:  #ffa866;
   --pick-yellow: #ffe74d;
   --pick-blue:  #88abf6;
   --border-checkbox: #C68AFF;
   --fw-400: 400;
   --fw-500: 500;
   --fw-600: 600;
   --fw-700: 700;
   --fw-800: 800;
   --fw-900: 900;
   --fw-1000: 1000;
   --for-calendar: 1;
   --for-modal: 22;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: rgb(58,51,114);
    background: linear-gradient(180deg, rgba(58,51,114,1) 24%, rgba(3,3,3,0.8687850140056023) 64%, rgba(58,51,114,1) 100%); 
}
#app {
    font-family: 'Nunito', sans-serif;
    width: 100vw;
    height: 100vh;
    color: var(--white);
}

@media (min-width: 320px){
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0.8rem 1rem;
    }
    .headline, .add-new-task {
        font-weight: var(--fw-1000);
        font-size: 1.3rem;
        
    }
    .add-new-task {
        font-size: 2rem;
        cursor: pointer;
    }
    .schedule {
        background-color: var(--btn-blue);
        margin: 0rem 1.8rem;
        padding: 4px;
    }
    .main-btn {
        background-color: transparent;
        border: none;
        padding: 8px 33px;
        color: var(--white);
        font-weight: var(--fw-500);
    }
    .wrapper {
        padding: 0rem 0.5rem;
    }
    .icons span {
        height: 30px;
        width: 30px;
        cursor: pointer;
        background-color: var(--main-calendar);
        line-height: 30px;
        text-align: center;
        border-radius: 50%;
    }
    .current-date {
        font-size: 1.5rem;
        font-weight: var(--fw-600);
    }
    .weeks td {
        font-weight: var(--fw-600);
    }
    .days td {
        cursor: pointer;
        z-index: var(--for-calendar);
    }
    .days td.inactive {
        color: var(--inactive);
    }
    .main-calendar{
        width: 100%;
    }
    .main-calendar td {
        padding: 5px;
    }
    .main-calendar tr td {
        position: relative;
        margin-bottom: 10px;
    }
    .main-calendar .days td::before {
        position: absolute;
        content: '';
        height: 35px;
        width: 35px;
        top: 50%;
        left: 38%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        z-index: -1;
    }
    .days td:hover::before {
        background-color: var(--hover-calendar);
    }
    .days td.active::before {
        background-color: var(--main-calendar);
    }
    .calendar {
        background-color: var(--btn-dark);
    }
    .style-for-inputs {
        background-color: var(--inputs);
        outline: none;
        border: none;
        border-radius: 10px;
        padding: 12px;
    }
    .date-style {
        height: 32px;
        width: 32px;
        border-radius: 50%;
        padding: 4px;
        border: 2px solid var( --main-calendar);
    }
    .main-task{
        padding: 9px 13px;
        border-radius: 8px;
    }
    .task-check{
        position: relative;
        padding-bottom: 7px;
    }
    .task-check::after {
        content: '';
        border: 1px solid var( --main-calendar);
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    .calendar-date__options {
        font-weight: var(--fw-700);
        line-height: 100%;
    }
    .task-option {
        font-weight: var(--fw-400);   
    }
    .checkbox-style {
        position: relative;
    }
    .select__check {
        opacity: 0;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
      
    .select__check + label {
        position: relative;
        padding-left: 25px; 
        cursor: pointer;
    }
      
    .select__check + label:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 15px; 
        height: 15px; 
        border: 2px solid var(--border-checkbox); 
        background-color: var(--transperent); 
        border-radius:  4px;
    }
      
    .select__check__label--checked:before {
        background-color:var(--transperent) ; 
    }
      
    .select__check__label--checked:after {
        content: "\2714"; 
        /* content: "";  */
        position: absolute;
        left: 4px;
        /* top: 3px; */
        font-size: 14px; 
        color: #fff; 
        /* background-image: url(../img/checked-task.svg);
        height: 15px;
        background-size: 100%;
        width: 15px;
        background-repeat: no-repeat; */ /*if we want other check img */
    }
    .task__details{
        position: relative;
    }
    .my-line{
        display: none;
    }
    .my-line:not(.my-line--last-task){
        display: block;
        position: absolute;
        top: 32px;
        left: 14px;
        width: 4px;
        background-color: var(--border-checkbox);
        height: calc(100% - 32px + 10px);
    }
    .edit-task-btn{
        background: none;
        border: none;
        cursor: pointer;
    }

}

