@media (min-width: 470px) and (max-width: 560px){
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 1.5rem 3rem;
    }
    .headline, .add-new-task {
        font-weight: var(--fw-1000);
        font-size: 1.6rem; 
    }
    .add-new-task {
        font-size: 2.5rem;
        cursor: pointer;
    }
    .schedule {
        background-color: var(--btn-blue);
        margin: 1rem 3.5rem;
        padding: 9px;
        gap: 30px;
    }
    .main-btn {
        background-color: transparent;
        border: none;
        padding: 8px 33px;
        color: var(--white);
        font-weight: var(--fw-700);
    }
    .currentBtn {
        background-color: var(--btn-dark);
    }
    .main-calendar .days td::before{
        transform: translate(-62%, -50%);
    }
}

@media (min-width: 561px) and (max-width: 720px){
    .container{
        padding: 1.8rem 2rem;
    }
    .current-date{
        max-width: 93%;
    }
    .main-calendar td{
        padding-top: 10px;
    }
    .main-calendar .days td::before{
        left: 38%;
        transform: translate(-98%, -50%);
    }
}

@media (min-width: 720px) and (max-width: 890px){
    .container{
        max-width: 750px;
        padding: 1.8rem 3rem;
    }
    .current-date{
        max-width: 93%;
    }
    .schedule{
        margin: 0rem 5.8rem;
        gap: 100px;
    }
    .main-calendar .days td::before{
        left: 31%;
        transform: translate(-97%, -50%);
    }
    .schedule__details {
        font-size: 24px;
    }
    .show__completed__details{
        font-size: 18px;
    }
}
@media (min-width: 890px){
    .container{
        max-width: 1024px;
        padding: 1.8rem 3rem;
    }
    .current-date{
        max-width: 93%;
        font-size: 1.9rem;
    }
    .weeks td {
        font-size: 1.2rem;
    }
    .schedule{
        margin: 0rem 5.8rem;
        gap: 100px;
    }
    .main-calendar .days td::before{
        left: 14%;
        transform: translate(-61%, -50%);
    }
    .schedule__details {
        font-size: 24px;
    }
    .show__completed__details{
        font-size: 18px;
    }
    .my-line:not(.my-line--last-task) {
        top: 40px;
        left: 17px;
        height: calc(100% - 40px + 10px);
    }
    .date-style {
        height: 42px;
        width: 42px;
        border-radius: 50%;
        padding: 7px;
        font-size: 20px;
    }
    .main-task{
        font-size: 18px;
    }
}